
@import 'variables';


h1 {
    color: $primary-color;
    border: $standard-border;
    font: $font3;
}

p {
    color: $secondary-color;
    font: $font2;
}

.wrapper {
    margin: $margin1;
}






.list-container {
    //adds the lightblue background and thick border in the container with the Ul
    background-color: $list-primary-color;
    padding: $listpadding;
    border: $listborder;
    box-shadow: $shadowbox;
    

//adds padding and font into the list item
    .list-item {
        color: $list-secondary-color;
        font: $font1;
        list-style: none;
        padding: $lipadding;
        border-bottom: $liborder;
    }
}

.ul-style{
    //adds red background and padding to the container with the UL
    background-color: $secondary-color;
    padding: $listpadding;
}

   .li-style{
    //adds padding changes font to blue in the list item.
    color: $primary-color;
    font: $font1;
    list-style: none;
    padding:$lipadding;

}


@mixin btn-styles($bg-color, $text-color) {
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: $bg-color;
    color: $text-color;
    transition: background-color 0.3s;

    &:hover {
        background-color: lighten($bg-color, 10%);
      }

    &:active {
        background-color: $bg-color;
      }
  }

  .button-primary {
    @include btn-styles($bg-color: $primary-color, $text-color: #fff);
  }
  
  .button-secondary {
    @include btn-styles($bg-color: $secondary-color, $text-color: #fff);
  }

  .button-info {
    @include btn-styles($bg-color: $accent-color, $text-color: #fff);
  }
  
  .button-warning {
    @include btn-styles($bg-color: $featured-color, $text-color: #fff);
  }
  