
@import 'variables';

// HEADERS and BODY
h1 {
    color: $light-color;
    background-color: $dark-color;
    font: $font3;
    padding: $p-2;
    box-shadow: $shadowbox;
}

h2 {
  color: $light-color;
  background-color: $dark-color;
  font: $font4;
  padding: $p-1;
  box-shadow: $shadowbox;
}

p {
    color: $secondary-color;
    font: $font2;
}

.wrapper {
    margin: $margin1;
}

// NAVBAR

nav {
  text-align: right;
  font: $font1;
  background-color: $light-color;

  li {
    display: inline-block;
    text-align: right;
    list-style-type: none;
    text-decoration: none;

    a {
      text-decoration: none;
      color: $dark-color;
      font-weight: 600;
      padding: $p-1;
      border-radius: $p-3;

      &:hover {
        text-decoration: underline;
        // box-shadow: $shadowbox;
      }

      &:active {
        background-color: $dark-color;
        color: $light-color;
        box-shadow: $shadowbox;
      }
    }
  }
}


// LIST
.list-container {
    //adds the lightblue background and thick border in the container with the Ul
    background-color: $list-primary-color;
    padding: $listpadding;
    border: $listborder;
    box-shadow: $shadowbox;
   

//adds padding and font into the list item
    .list-item {
        color: $list-secondary-color;
        font: $font1;
        list-style: none;
        padding: $lipadding;
        border-bottom: $liborder;
    }
}

.ul-style{
    //adds red background and padding to the container with the UL
    background-color: $secondary-color;
    padding: $listpadding;
}

   .li-style{
    //adds padding changes font to blue in the list item.
    color: $list-primary-color;
    font: $font1;
    list-style: none;
    padding:$lipadding;

}


@mixin btn-styles($bg-color, $text-color, $border-color: transparent) {
  padding: 15px 20px;
  margin-right: 8px;
  border: 4px solid $border-color;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  background-color: $bg-color;
  color: $text-color;
  transition: background-color 0.3s;

  &:hover {
      background-color: lighten($bg-color, 10%);
    }

  &:active {
      background-color: $bg-color;
    }
}

.button-primary {
  @include btn-styles($bg-color: $primary-color, $text-color: #fff, $border-color: $primary-border-color);
}

.button-secondary {
  @include btn-styles($bg-color: $secondary-color, $text-color: #fff, $border-color: $secondary-border-color);
}

.button-info {
  @include btn-styles($bg-color: $accent-color, $text-color: #fff, $border-color: $accent-border-color);
}

.button-warning {
  @include btn-styles($bg-color: $featured-color, $text-color: #fff, $border-color: $featured-border-color);
}

  